<link href="/style.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<div>
    <br>
</div>
<h3>MATCHA</h3>
<div class="title_1">
<h1>LOG IN</h1>
</div>

    <div class='title_1'>
        <br>
            <form action="/" method="post">
                <h2>ENTER USERNAME</h2>
                <input type="text" name="uname" pattern="[A-Za-z0-9]+" placeholder="ENTER YOUR NAME HERE" required>
                <h2>ENTER PASSWORD</h2>
                <input type="password" name="upsw" placeholder="ENTER YOUR PASSWORD" required>
                <input type="submit" value="submit">
            </form>

    </div>
    <div style="text-align: center;">
        <br><a class="abut" href="/register.jpeg">REGISTER</a>
    </div>
<div class="footer">
    <p2>MATCHA | TREDEAUX PITOUT & MAX GERBER</p2>
</div>
