<link href="/style.css" rel="stylesheet" type="text/css">
<ul>
    <li><a class="active" href="/">Home</a></li>
  </ul>

<div class="title_1"> 
<h1><%= data.uname %></h1>
<h1><%= data.upsw %></h1>
</div>




