<link href="/style.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<ul>
    <li><a class="active" href="/main.txt">Home</a></li>
</ul>

<div class="title_1">
<h2>WELCOME</h2>
</div>
<div class="footer">
    <p2>MATCHA | TREDEAUX PITOUT & MAX GERBER</p2>
</div>
<div class="notif">
  <h4>PAGE VIEWED BY</h4>
</div>
<div class="bar">
  <a class="mainbut" href="">PROFILE</a>
<br>
  <a class="mainbut" href="">FAME</a>
  <br>
  <a class="mainbut" href="">SETTINGS</a>
</div>
<div class="bar1">
<h1>FAME RATING</h1>
</div>
<script>
  navigator.geolocation.getCurrentPosition(function(position){
    console.log(position);
  });
</script>

