<% include includes %>
<% include footer %>

<div class="header">
<ul>
    <li><a class="active" href="/main.txt">HOME</a></li>
</ul>
</div>

<div class="rightpanel">
</div>
<div class="leftpanel">

</div>
<script>
  navigator.geolocation.getCurrentPosition(function(position){
    console.log(position);
  });
</script>

