<link href="/style.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<div class="header">
<ul>
    <li><a class="active" href="/main.txt">Home</a></li>
</ul>
</div>

<div class="footer">
    <p2>MATCHA | TREDEAUX PITOUT & MAX GERBER</p2>
</div>
<div class="rightpanel">
  <br><br>
  <h4>PAGE VIEWED BY</h4>
  <h4>_____________________</h4>
</div>
</div>
<div class="leftpanel">

</div>
<script>
  navigator.geolocation.getCurrentPosition(function(position){
    console.log(position);
  });
</script>

