<% include includes %>
<% include footer %>

<head>
</head>
<div class="header">
  <ul>
    <li><a class="active" href="/main.txt">HOME</a></li>
    <li><a class="active" href="/profile_setup.mp3/<%= token %>">PROFILE</a></li>
    <li><a class="active" href="/logout">LOGOUT</a></li>
  </ul>
</div>
<div class="mainlay">
  <% include leftpanel %>
  <% include rightpanel %>

  <div class="middle">
    <br>
      <% include filter %>

    <% for(i = 0; i < ppl.length; i += 2) { %>
    <div class="profile">
      <a id="<%= ppl[i] %>" href="http://localhost:8888/user/usr=<%=  ppl[i]  %>">
        <h5>
          <%=  ppl[i + 1]  %>
        </h5>
      </a>
    </div>
    <br>
    <% } %>
  </div>
</div>
