<link href="/style.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<ul>
    <li><a class="active" href="/main.txt">Home</a></li>
</ul>

<div class="title_1">
<h2>WELCOME</h2>
</div>
<div class="footer">
    <p2>MATCHA | TREDEAUX PITOUT & MAX GERBER</p2>
</div>
<script>
  navigator.geolocation.getCurrentPosition(function(position){
    console.log(position);
  });
</script>

