<% include includes %>
<% include footer %>
<div>
    <br>
</div>
<h3>MATCHA</h3>
<div class="title_1">
    <h1>REGISTER</h1>
</div>
<div class='title_1'>
    <br>
    <form action="/register" method="post" id="form1">
        <h2>ENTER USERNAME</h2>
        <input type="text" name="uname" id="uname" placeholder="ENTER YOUR USERNAME HERE" required>
        <h2>ENTER NAME</h2>
        <input type="text" name="ufname" id="name" placeholder="ENTER YOUR NAME HERE" required>
        <h2>ENTER SURNAME</h2>
        <input type="text" name="ulname" id="surname" placeholder="ENTER YOUR SURNAME HERE" required>
        <h2>ENTER EMAIL</h2>
        <input type="email" name="uemail" id="email" placeholder="ENTER YOUR EMAIL HERE" required>
        <h2>ENTER PASSWORD</h2>
        <input type="password" name="upsw" id="1" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,50}$" placeholder="ENTER YOUR PASSWORD"
            required>
        <h2>ENTER PASSWORD AGAIN</h2>
        <input type="password" name="upsw2" id="2" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,50}$" placeholder="ENTER YOUR PASSWORD"
            required>
        <input type="hidden" name="coord" id="coord">
        <input type="SUBMIT" onclick="clickAlert()" value="submit">
    </form>
</div>
<script>
    navigator.geolocation.getCurrentPosition(function (position) {
        document.getElementById("coord").value = position.coords.latitude + ", " + position.coords.longitude;
    });
    function clickAlert() {
        var patt = new RegExp("^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,50}$");
        if (document.getElementById("uname").value && document.getElementById("name").value && document.getElementById(
                "email").value && document.getElementById("surname").value && document.getElementById("1").value &&
            document.getElementById("2").value) {
            console.log((patt.test(document.getElementById("1").value)));
            if ((document.getElementById("1").value == document.getElementById("2").value)) {
                console.log("2");
                if ((patt.test(document.getElementById("1").value))) {
                    console.log("5");
                    swal("SUCCESS", "CHECK YOUR EMAIL", "success");
                }
            } else {
                console.log("Password DOesnt match");
                swal("ERROR", "DETAILS ARE WRONG", "error");
            }
        }
    };
</script>
<div style="text-align: center;">
    <br><a class="abut" href="/">LOGIN</a>
</div>