<link href="/style.css" rel="stylesheet" type="text/css">

<div>
    <br>
</div>
<h3>MATCHA</h3>
<div class="title_1">
<h1>REGISTER</h1>
</div>
    <div class='title_1'>
        <br>
            <form action="/register" method="post">
                <h2>ENTER USERNAME</h2>
                <input type="text" name="uname" placeholder="ENTER YOUR USERNAME HERE" required>
                <h2>ENTER NAME</h2>
                <input type="text" name="ufname" placeholder="ENTER YOUR NAME HERE" required>
                <h2>ENTER SURNAME</h2>
                <input type="text" name="ulname" placeholder="ENTER YOUR SURNAME HERE" required>
                <h2>ENTER EMAIL</h2>
                <input type="email" name="uemail" placeholder="ENTER YOUR EMAIL HERE" required>
                <h2>ENTER PASSWORD</h2>
                <input type="password" name="upsw" pattern="[A-Za-z0-9]+" placeholder="ENTER YOUR PASSWORD" required>
                <h2>ENTER PASSWORD AGAIN</h2>
                <input type="password" name="upsw2" pattern="[A-Za-z0-9]+" placeholder="ENTER YOUR PASSWORD" required>
                <input type="SUBMIT" value="submit">
            </form>

    </div>
    <div style="text-align: center;">
        <br><a class="abut" href="/">LOGIN</a>
    </div>

<div class="footer">
    <p2>MATCHA | TREDEAUX PITOUT & MAX GERBER</p2>
</div>
