<% include includes %>
<% include footer %>

<div>
    <br>
</div>
<h3>MATCHA</h3>
<div class="title_1">
    <h1>RESET PASSWORD</h1>
</div>
<div class='title_1' id="form1">
    <br>
    <form action="/reset_pass" method="post">
        <h2>ENTER EMAIL</h2>
        <input type="email" name="uemail" id="email" placeholder="ENTER YOUR EMAIL HERE" required>
        <input type="SUBMIT" onclick="clickAlert()" value="submit">
    </form>
    </div>
    <script>
        function clickAlert() {
            swal("SUCCESS", "CHECK YOUR EMAIL", "success");
            document.getElementById("form1").submit();
        };
    </script>
    <div style="text-align: center;">
        <br><a class="abut" href="/">BACK</a>
</div>