html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    background-image: linear-gradient(to bottom right, #dd4987, #fe884a);
}

h1 {
    font-family: 'Montserrat';
    text-align: center;
    color: white;
    opacity: 0.8;
}

h2 {
    font-family: 'Montserrat';
    text-align: center;
    color: white;
    font-weight: lighter;
    opacity: 0.8;
}

h3 {
    font-size: 50px;
    font-family: 'Montserrat';
    text-align: center;
    color: white;
    margin-bottom: 0%;
    font-weight: bolder;
    opacity: 0.8;
}

h4 {
    font-family: 'Montserrat';
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 2%;
}

h5 {

    font-family: 'Montserrat';
    text-align: center;
    color: white;
    margin-bottom: -10px;
    margin-bottom: -10px;
    font-weight: bold;
    font-size: 25px;
}

.title_1 {
    width: 50%;
    margin: auto;
    border: 5px solid white;
    margin-top: 10px;
    text-align: center;
    opacity: 0.8;
}

.title_2 {
    width: 50%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

a {
    color: #FF5864;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF5864;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgb(255, 174, 179);
}

input[type="text"] {
    font-family: 'Montserrat', sans-serif;
    background-color: #FF7983;
    color: white;
    width: 50%;
    height: auto;
    text-align: center;
    padding: 5px 5px;
    font-size: 20px;
}

input[type="email"] {
    font-family: 'Montserrat', sans-serif;
    background-color: #FF7983;
    color: white;
    width: 50%;
    height: auto;
    text-align: center;
    padding: 5px 5px;
    font-size: 20px;
}

input[type="password"] {
    font-family: 'Montserrat', sans-serif;
    background-color: #FF7983;
    color: white;
    width: 50%;
    height: auto;
    text-align: center;
    padding: 5px 5px;
    font-size: 20px;
}

input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    font-size: bold;
    background-image: linear-gradient(to right, #dd4987, #dd4987);
    color: white;
    width: 50%;
    height: auto;
    text-align: center;
    padding: 5px 5px;
    font-size: 20px;
    border-style: none;
}

input[type="submit"]:hover {
    font-family: 'Montserrat', sans-serif;
    font-size: bold;
    background-image: linear-gradient(to right, #dd4987, #fe884a, #dd4987);
    color: white;
    width: 50%;
    height: auto;
    text-align: center;
    padding: 5px 5px;
    font-size: 20px;
    border-style: none;
}

::placeholder {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: block;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    color: #FF5864;
    text-align: left;
    margin-left: 45%;
    margin-bottom: 6px;
    color: white;
}

.container input {
    position: center;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: auto;

}

.checkmark {
    margin-left: 45%;
    position: absolute;
    height: 25px;
    width: 25px;
    left: 0;
    background-color: rgb(255, 174, 179);
    border-radius: 50%;
}

.container:hover input~.checkmark {
    background-color: #FF5864;
}

.container input:checked~.checkmark {
    background-color: rgb(255, 56, 69);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

textarea {
    border: 2px SOLID #FF5864;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: rgb(255, 56, 69);
    background-color: rgb(255, 239, 239);
}

.abut {
    font-size: 25px;
    border: 5px SOLID #fb5b67;
    padding: 10px 10px;
    background-color: white;
    opacity: 0.6;
    font-weight: bold;
    color: #fb5b67;
}

.abut:hover {
    border: 1px SOLID #fb5b67;
    background-color: white;
    opacity: 1;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FF5864;
    color: white;
    text-align: center;
    padding: 10px 10px;
    font-family: 'Montserrat', sans-serif;
    z-index: 10;
}

.swal-overlay {
    background-color: #FF5864;
}

.swal-button {
    font-size: 25px;
    padding: 10px 10px;
    background-color: #FF5864;
    color: white;
}

.mainbut {
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #FF5864;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    z-index: 10;
}

.leftpanel {
    color: white;
    height: 100%;
    width: 15%;
    float: left;
    margin-left: -10px;
}

.rightpanel {
    height: 100%;
    width: 15%;
    float: right;
    margin-right: -10px;
}

.middle {
    margin-top: 80px;
    text-align: center;
    height: 100%;
    width: auto;
    font-size: 1vw;
    margin-left:20%;
}

.mainlay {
    display: inline;
}

.person {
    border-bottom: 2px solid #FF5864;
}

.profile {
    align-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 100px;
    border: 5px solid white;
    background-image: linear-gradient(to bottom right, #dd4987, #fe884a);
    opacity: 0.4;
}

.profile:hover {
    opacity: 1;
}

.verscroll {
    overflow-y: scroll;
    height: 400px;
    width: auto;
}

div label input {
    text-align: center;
    float: middle;
}

#ck-button {
    opacity: 0.7;
    width: 20%;
    background-color: #EFEFEF;
    border: 5px solid white;
    overflow: auto;
    text-align: center;
    margin-left: 40%;
}

#ck-button {
    background-color: #EFEFEF;
    border: 1px solid #D0D0D0;
    overflow: auto;
    text-align: center;
    float: middle;
}

#ck-button:hover {
    background-color: #EFEFEF;
    border: 1px solid #dd4987;
    overflow: auto;
    color: #dd4987;
    opacity: 1;
}

#ck-button label {
    width: 4.0em;
    text-align: center;
}

#ck-button label span {
    text-align: center;
    padding: 3px 0px;
    display: block;
}

#ck-button label input {
    text-align: center;
    position: absolute;
    top: -20px;
}

#ck-button input:checked+span {
    background-color: #dd4987;
    color: #fff;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 1px;
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    width: 1px;
    opacity: 0;

}
.filter {
    display: inline;
}