
body
{
    font-family: 'Montserrat';
}
h1
{
    font-family: 'Montserrat';
    text-align: center;
    color: #FF5864;
}
h2
{
    font-family: 'Montserrat';
    text-align: center;
    color: #FF5864;
    font-weight: lighter;
}
h3
{
    font-size: 50px;
    font-family: 'Montserrat';
    text-align: center;
    color: #FF5864;
    margin-bottom: 0%;
    font-weight: bold;
}
h4
{
    font-family: 'Montserrat';
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 2%;
}
.title_1
{
    width: 50%;
    margin: auto;
    border: 5px solid #FF5864;
    margin-top: 10px;
    text-align: center;
}
a
{
    color: #FF5864;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF5864;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

li 
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover 
{
    color: rgb(255, 174, 179);
}

input[type="text"]
{
    font-family: 'Montserrat', sans-serif;
    background-color: #FF7983;
    color: white;
    width: 50%;
    height: auto;
    text-align: center;
    padding: 5px 5px;
    font-size: 20px;
}
input[type="email"]
{
    font-family: 'Montserrat', sans-serif;
    background-color: #FF7983;
    color: white;
    width: 50%;
    height: auto;
    text-align: center;
    padding: 5px 5px;
    font-size: 20px;
}
input[type="password"]
{
    font-family: 'Montserrat', sans-serif;
    background-color: #FF7983;
    color: white;
    width: 50%;
    height: auto;
    text-align: center;
    padding: 5px 5px;
    font-size: 20px;
}
input[type="submit"]
{
    font-family: 'Montserrat', sans-serif;
    background-color: #FF5864;
    color: white;
    width: 50%;
    height: auto;
    text-align: center;
    padding: 5px 5px;
    font-size: 20px;
}
::placeholder
{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.container {
    display: block;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    color: #FF5864;
    text-align: left;
    margin-left: 45%;
    margin-bottom: 6px;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: center;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: auto;

  }
  
  /* Create a custom radio button */
  .checkmark {
    margin-left:45%;
    position: absolute;
    height: 25px;
    width: 25px;
    left: 0;
    background-color: rgb(255, 174, 179);
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #FF5864;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgb(255, 56, 69);
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  textarea
  {
      border: 2px SOLID #FF5864;
      font-family: 'Montserrat', sans-serif;
      font-weight: bolder;
      color: rgb(255, 56, 69);
      background-color: rgb(255, 239, 239);
  }

  .abut
  {
      font-size: 25px;
      border: 3px SOLID #FF5864;
      padding: 10px 10px;
      background-color: rgb(255, 239, 239);
  }
  .abut:hover
  {
      border: 1px SOLID #FF5864;
      background-color: white;
  }
  .footer
  {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FF5864;
    color: white;
    text-align: center;
    padding: 10px 10px; 
    font-family: 'Montserrat', sans-serif;  
  }
  .swal-overlay {
    background-color: #FF5864;
  }
  .swal-button {
    font-size: 25px;
    padding: 10px 10px;
    background-color: #FF5864;
    color: white;
  }

.mainbut
{
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}
.header
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #FF5864;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;  
}
.leftpanel
{
    height: 100%;
    color: white;
    border: 5px solid #FF5864;
    background-color: #FF5864;
    width: 15%;
    float: left;
    margin-left: -10px;
}
.rightpanel
{
    height: 100%;
    color: white;
    border: 5px solid #FF5864;
    background-color: #FF5864;
    width: 15%;
    float: right;
    margin-right: -10px;
}